<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fm.a2d.sf"
    android:versionCode="111"
    android:versionName="2015_04_14" >

<!-- 
!! See to add android.intent.action.BUG_REPORT

android:targetSdkVersion="17"

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

<uses-permission android:name="android.permission.CAPTURE_AUDIO_HOTWORD"></uses-permission>


        android:minSdkVersion="19"
        android:maxSdkVersion="19"

Spirit Transmit requires 19 / Kitkat + due to new APIs used in svc_rcc and svc_rcc class itself

        android:minSdkVersion="16"

        android:minSdkVersion="19"
        android:maxSdkVersion="20"

        android:minSdkVersion="20"
 -->

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />


<uses-feature android:name="android.hardware.wifi" android:required="false"/>

<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


-->
<!--
-->
<!-- 
    android:clearTaskOnLaunch="true"

    android:launchMode="singleInstance"
 -->

<!-- 
App drawer name for all unless locally over-ridden:
 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/img_icon"
        android:label="SpiritF"
        android:theme="@android:style/Theme.Holo" >


<!-- Android AUTO:
        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>

        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/img_icon" />

        <service android:name=".svc_amb"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
-->


<!-- REMOVE_FOR_TX
<service android:name="fm.a2d.sf.svc_rcc"             android:label="SpiritF Transmit RDS"          android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
     <intent-filter>         <action android:name="android.service.notification.NotificationListenerService" />     </intent-filter></service>
REMOVE_FOR_TX -->


<!-- 
<uses-library android:name="qcom.fmradio" />
 -->

<!-- 
 -->
<!-- 
getWindow().setSoftInputMode(WindowManager.LayoutParams.SOFT_INPUT_STATE_ALWAYS_HIDDEN);
 -->
<!-- 
App drawer name for app:

android:windowSoftInputMode="adjustResize"


android:windowSoftInputMode="stateHidden"
 -->
        <activity
            android:name="fm.a2d.sf.gui_act"
    android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
<!-- 
Don't Need this:
            <intent-filter>
                <action android:name="fm.a2d.sf.result.get" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
 -->
        </activity>

<!-- 
    android:launchMode="singleInstance"
 if the activity you are launching uses the singleTask launch mode, it will not run in your task and thus you will immediately receive a cancel result. -->


<!-- 
Could be used with App Inventor API aia_act
android:theme="@android:style/Theme.Translucent.NoTitleBar"
 -->


    <activity
    android:name="fm.a2d.sf.set_act"
    android:label="Settings"
    >

<!-- Intent: Settings launch. -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
      </intent-filter>
    </activity>

<!--
    <activity
    android:name="com.google.ads.AdActivity"
    android:configChanges="keyboard|keyboardHidden|orientation"
    />
-->



<!-- 

! Need separate process or get fg/bg problems !!!
 -->
    <service
      android:name="fm.a2d.sf.svc_svc"
android:process=":s"
      android:label="SpiritF FM Service"
      android:enabled="true"
      android:exported="true"
      >
      <intent-filter>
                <action android:name="fm.a2d.sf.action.set" />
      </intent-filter>
    </service>
<!-- 
Intent API
 -->



<!-- SpiritF Service has media button & headset unplug receiver that deals with standard Android media button Intents . JB needs initial Intent filter AND registration
            <intent-filter>
                <action android:name="fm.a2d.sf.result.get" />
            </intent-filter>
-->


        <receiver android:name="fm.a2d.sf.svc_bcr">                             <!-- REMOVE_FOR_TX -->
            <intent-filter android:priority="2147483647">                       <!-- REMOVE_FOR_TX -->
                <action android:name="android.intent.action.MEDIA_BUTTON" />    <!-- REMOVE_FOR_TX -->
            </intent-filter>                                                    <!-- REMOVE_FOR_TX -->

<!-- 
            <intent-filter>                                                      REMOVE_FOR_TX 
                <action android:name="android.media.VOLUME_CHANGED_ACTION" />    REMOVE_FOR_TX 
            </intent-filter>                                                     REMOVE_FOR_TX 
            <intent-filter>                                                      REMOVE_FOR_TX 
                <action android:name="android.media.MASTER_VOLUME_CHANGED_ACTION" />    REMOVE_FOR_TX 
            </intent-filter>                                                     REMOVE_FOR_TX -->
-->

            <intent-filter>                                                     <!-- REMOVE_FOR_TX -->
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />    <!-- REMOVE_FOR_TX -->
            </intent-filter>                                                    <!-- REMOVE_FOR_TX -->
<!-- 
-->
        </receiver>                                                             <!-- REMOVE_FOR_TX -->

    </application>

</manifest>
<!-- 
-->

